In [101]:
import pandas as pd

In [102]:
df = pd.read_csv('sales_dataset.csv')

In [103]:
df.columns

Index(['Total Revenue', 'Item Type', 'Unit Cost', 'Unit Price',
       'Sales Channel', 'Region', 'Country', 'Order Date', 'Ship Date',
       'Order Priority', 'Order ID', 'Units Sold', 'Total Cost',
       'Total Profit'],
      dtype='object')

In [104]:
df1 = df.loc[:,['Item Type','Sales Channel','Region']]

In [105]:
df1.shape

(10000, 3)

In [106]:
df2 = df1.copy(deep=True)
df2.columns

Index(['Item Type', 'Sales Channel', 'Region'], dtype='object')

In [107]:
#test case 
#rows = Item Type,sales channel
#columns = Region
#values = empty
# here we calculate frequency of occurrence of Region (which is a column)

In [108]:
df2['frequency'] = [1]*df2.shape[0]

In [109]:
df3 = df2.groupby(['Item Type', 'Sales Channel', 'Region']).agg({'frequency':'count'})

In [110]:
df3

                                                            frequency
Item Type  Sales Channel Region
Baby Food  Offline       Asia                                      60
                         Australia and Oceania                     26
                         Central America and the Caribbean         40
                         Europe                                    94
                         Middle East and North Africa              49
...                                                               ...
Vegetables Online        Central America and the Caribbean         33
                         Europe                                   103
                         Middle East and North Africa              54
                         North America                              5
                         Sub-Saharan Africa                        95

[168 rows x 1 columns]

In [111]:
df4 = df3.unstack(level=-1)

In [112]:
df4

                              frequency  ...
Region                             Asia  ... Sub-Saharan Africa
Item Type       Sales Channel            ...
Baby Food       Offline              60  ...                126
                Online               72  ...                109
Beverages       Offline              51  ...                104
                Online               57  ...                116
Cereal          Offline              49  ...                106
                Online               72  ...                105
Clothes         Offline              62  ...                110
                Online               54  ...                119
Cosmetics       Offline              64  ...                103
                Online               61  ...                100
Fruits          Offline              52  ...                113
                Online               59  ...                117
Household       Offline              63  ...                102
                Online               53  ...                116
Meat            Offline              59  ...                 97
                Online               55  ...                110
Office Supplies Offline              59  ...                105
                Online               73  ...                102
Personal Care   Offline              66  ...                110
                Online               71  ...                113
Snacks          Offline              58  ...                109
                Online               62  ...                112
Vegetables      Offline              65  ...                104
                Online               72  ...                 95

[24 rows x 7 columns]

In [113]:
df4 = df4.stack(level=0)

In [114]:
df4

Region                                   Asia  ...  Sub-Saharan Africa
Item Type       Sales Channel                  ...
Baby Food       Offline       frequency    60  ...                 126
                Online        frequency    72  ...                 109
Beverages       Offline       frequency    51  ...                 104
                Online        frequency    57  ...                 116
Cereal          Offline       frequency    49  ...                 106
                Online        frequency    72  ...                 105
Clothes         Offline       frequency    62  ...                 110
                Online        frequency    54  ...                 119
Cosmetics       Offline       frequency    64  ...                 103
                Online        frequency    61  ...                 100
Fruits          Offline       frequency    52  ...                 113
                Online        frequency    59  ...                 117
Household       Offline       frequency    63  ...                 102
                Online        frequency    53  ...                 116
Meat            Offline       frequency    59  ...                  97
                Online        frequency    55  ...                 110
Office Supplies Offline       frequency    59  ...                 105
                Online        frequency    73  ...                 102
Personal Care   Offline       frequency    66  ...                 110
                Online        frequency    71  ...                 113
Snacks          Offline       frequency    58  ...                 109
                Online        frequency    62  ...                 112
Vegetables      Offline       frequency    65  ...                 104
                Online        frequency    72  ...                  95

[24 rows x 7 columns]

In [115]:
df4 = df4.unstack(level=-1)

In [116]:
df4

Region                             Asia  ... Sub-Saharan Africa
                              frequency  ...          frequency
Item Type       Sales Channel            ...
Baby Food       Offline              60  ...                126
                Online               72  ...                109
Beverages       Offline              51  ...                104
                Online               57  ...                116
Cereal          Offline              49  ...                106
                Online               72  ...                105
Clothes         Offline              62  ...                110
                Online               54  ...                119
Cosmetics       Offline              64  ...                103
                Online               61  ...                100
Fruits          Offline              52  ...                113
                Online               59  ...                117
Household       Offline              63  ...                102
                Online               53  ...                116
Meat            Offline              59  ...                 97
                Online               55  ...                110
Office Supplies Offline              59  ...                105
                Online               73  ...                102
Personal Care   Offline              66  ...                110
                Online               71  ...                113
Snacks          Offline              58  ...                109
                Online               62  ...                112
Vegetables      Offline              65  ...                104
                Online               72  ...                 95

[24 rows x 7 columns]

In [117]:
#another example
#rows = Item type, Region
#columns = sales channel, order priority
#values = empty
# here we calculate frequency of occurrence of ['Sales Channel','Order Priority'] (both are columns)

In [118]:
df5 = df.loc[:,['Item Type','Region','Sales Channel','Order Priority']]
df5['frequency'] = [1]*df5.shape[0]
df5 = df5.groupby(['Item Type','Region','Sales Channel','Order Priority']).agg({'frequency':'count'})
df5 = df5.unstack(['Sales Channel','Order Priority'])
df5 = df5.stack(level=0)
df5 = df5.unstack(level=-1)

In [119]:
df5

Sales Channel                                  Offline  ...    Online
Order Priority                                       C  ...         M
                                             frequency  ... frequency
Item Type  Region                                       ...
Baby Food  Asia                                   11.0  ...      14.0
           Australia and Oceania                   8.0  ...       8.0
           Central America and the Caribbean      12.0  ...       7.0
           Europe                                 27.0  ...      37.0
           Middle East and North Africa           10.0  ...       9.0
...                                                ...  ...       ...
Vegetables Central America and the Caribbean      26.0  ...      11.0
           Europe                                 32.0  ...      22.0
           Middle East and North Africa           13.0  ...      11.0
           North America                           3.0  ...       2.0
           Sub-Saharan Africa                     34.0  ...      22.0

[84 rows x 8 columns]